body {
    width: 1024px;
    height: 768px;
    margin: auto;
    alignment: center;
    background-color: #ffff96;
    font-family: Verdana, Arial, sans-serif;
}
h1{margin:0;}
h3{margin:0;}
h4{margin:0;}
h5{margin:0;}
p{margin:0;}

.page {
    width: 1024px;
    height: 768px;
    position: fixed;
    align-content: center;
}

.header {
    position: absolute;
    top:0;
    width: 100%;
    height: 6%;
    background-color: #5c3c03;
}
.logo{
    width:20%;
    height:100%;
    left:0;
    background-color: #5c3c03;
    color: #ffff96;
}
.logo h1{
    position: absolute;
    text-align: center;
    padding: 1%;
    top: 50%;
    transform: translate(0, -50%);
}

nav{
    position:absolute;
    left:20%;
    top:0;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffff96;
}
nav li {
    float: left;
}

nav li a {
    display: block;
    color: #5c3c03;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #ffff00;
}

.loginlink {
    position: absolute;
    top:0;
    right:0;
    width:10%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    background-color: #b8fb9e;
}
.loginlink a{
    position: absolute;
    text-decoration: none;
    color:#5c3c03;
    top: 50%;
    transform: translate(-50%, -50%);
}

.content {
    position: absolute;
    top:6%;
    width: 100%;
    height: 93%;
    background-color: #b8fb9e;
    list-style-type: none;
    horiz-align: left;
}

.headline {
    position: absolute;
    width: 20%;
    height: 8%;
    top: 3%;
    left: 3%;
    padding:1% 1%;
    text-align: left;
    background-color: bisque;
}
.subtext {
    position: absolute;
    top: 17%;
    left: 3%;
    height: 20%;
    width: 61%;
    padding:1% 1%;
    text-align: left;
    background-color: bisque;
}

.articlea {
    position: absolute;
    top: 43%;
    left: 3%;
    padding:1% 1%;
    height: 45%;
    width: 28%;
    text-align: left;
    background-color: bisque;
}

.articleb {
    position: absolute;
    top: 43%;
    right: 34%;
    padding:1% 1%;
    height: 45%;
    width: 28%;
    text-align: left;
    background-color: bisque;

}

.aside {
    position: absolute;
    width: 31%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #8fff63;
    text-align: left;
    vert-align: top;
}

.asidecontent {
    position: absolute;
    top: 3%;
    left: 10%;
    width:79%;
    padding:1% 1%;
    background-color: bisque;

}

.footer {
    background-color: #5c3c03;
    color: #ffff96;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7%;
    text-align: center;
    position: absolute;
    display:inline;
}
.footer h5{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.userlogin{
    position: absolute;
    width: 20%;
    height: 4%;
    text-align: left;
    top: 20%;
    left: 22%;
    text-transform: uppercase;
}

form{
    border:4px solid  #b8fb9e;
    border-radius: 20px;
    padding-top:4px;
    padding-bottom:4px;
    position: absolute;
    width: 60%;
    text-align: center;
    top: 25%;
    left: 20%

}
button{
    border: 2px solid #b8fb9e;
    border-radius: 20px;
    width: 10%;
    display:inline-block;
}
button[type=submit]{
    background-color: #b8fb9e;
}
button[type=reset] {
    background-color: #ffff00;
   }
input[type=text] {
    border: 2px solid #b8fb9e;
    padding-left:5px;
    border-radius: 20px;
}
input[type=password]{
    border: 2px solid #b8fb9e;
    padding-left:5px;
    border-radius: 20px;
}